<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/png" href="/img/weather-icon.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p class="about">As the name assets Weather-App is small weather application which helps you find Forcast of a provided location (eg. Delhi). This app is created with HTML, CSS, JavaScript, Node and Express JS. 
			<br>
			
		</p>
	</div>

	{{>footer}}
</body>
</html>