<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/png" href="/img/weather-icon.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p class="about">This app helps you to get weather info of your provided address. 
			<br>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nemo repellendus voluptatem quisquam illum cupiditate tempore, dolorem, quam maxime recusandae, omnis est similique officiis delectus non eum. Hic, rerum labore!
			<br>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi molestiae necessitatibus, iure a quas architecto nobis eligendi iusto nam possimus?
			<br>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, tenetur laudantium modi earum perspiciatis nobis vel suscipit, consequatur animi nesciunt quae necessitatibus! Labore fugit impedit blanditiis sit quam corporis quia minus beatae animi. Ratione numquam magni error, commodi necessitatibus amet?
		</p>
	</div>

	{{>footer}}
</body>
</html>