<!DOCTYPE html>
<html>
<head>
	<title>ERROR!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/png" href="/img/error.jpg">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Page not found :(</p>
	</div>

	{{>footer}}
</body>
</html>