<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/png" href="/img/weather-icon.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
	 	<div class="help">
		<ul>
			<li>
				Make sure you're giving a valid address 
			</li>
			<li>
				Check spellings
			</li>
			<li>
				Check your internt connection
			</li>
			<li>
				Reload the page
			</li>
		</ul>
		 </div>
	</div>
	{{>footer}}
</body>
</html>